#nav-bar {
  display: block;
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100vw;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 100;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  line-height: 80px;
  vertical-align: middle;
  padding-left: 10px
}